@font-face {
  font-family: 'Terminus';
  font-style: normal;
	font-weight: normal;
	font-size: 12pt;
  src: local('Terminus'), url('../fonts/terminus.ttf') format('truetype');
}

#termInput {
	background-color: #212121;
	font-family: 'Terminus';
	color: #99ff99;
	font-size: 14pt;
	border-style: hidden;
	width: 100%;
	height: 20px;
}

#termInput:focus {
	outline: none;
	border-style: none;
}

#termOutput {
	font-family: 'Terminus';
	font-size: 14pt;
	background-color: #212121;
	color: #99ff99;
	padding-bottom: 5px;
	line-height: 1.5;
}

.banner {
	font-family: 'Terminus';
	font-size: 20pt;
	text-align: center;
	border: 1px solid green;
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
}

.body {
	background-color: #212121;
}

.termps1 {
	font-family: 'Terminus';
	font-size: 14pt;
	font-weight: bold;
	background-color: #212121;
	color: #99ff99;
}

.aiChatStart {
	background-color: #99ff99;
	color: #212121;
	padding: 5px 5px 5px 5px;
}
